.profile__image-container {
  position: relative;
  display: inline-block;
  margin: 0 29px 0 0;
}

.profile__image-container::after { /* Изменяем селектор на контейнер */
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    background-image: url('../../../../images/pen.svg'); /* Исправляем расположение фонового изображения */
    background-repeat: no-repeat; /* Добавляем правило для повтора фонового изображения */
    background-size: 26px 26px; /* Настраиваем размер фонового изображения */
    background-position: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  
  .profile__image-container:hover::after { /* Изменяем селектор на контейнер */
    opacity: 1; 
    cursor: pointer;
  }